<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <meta charset="UTF-8">
    <title>Zakaz status</title>
</head>
<body>
<div th:insert="fragments/header :: headerMain"></div>
<h1>Добавить статус заказ</h1>
<div>
    <form method="post" th:object="${zakazstatus}">
        <input  type="text" placeholder="Название " name="statusname"><br>
        <input type="submit" value="Добавить новый статус заказа">
    </form>
    <a href="/Category/Index" class="btn btn-light">Обратно</a>
    <a href="/Home" class="btn btn-light">Home</a>
</div>
</body>
</html>